{{extend 'layout.html'}}
<div id="rst-content">
  {{if path.startswith('index'):}}
  <div class="well" style="background:black">
    <img src="{{=URL('static','images/antigravity.png')}}" style="width:100%;max-width:100%; border:1px;padding:9px"/>
    <pre id="demo">
>>> print 'Hello, World!'
Hello, World!
>>> for thing in 'Python', 101, 3.14, [1,2,3], {'key':'value'}: 
...     print thing,'is',type(thing).__name__
Python is str
101 is int
3.14 is float
[1, 2, 3] is list
{'key': 'value'} is dict
>>> import urllib
>>> html = urllib.urlopen('http://python.org').read()
>>> import antigravity
</pre>
  </div>
  <script type="text/javascript">
    jQuery(document).ready(function() { jQuery('#demo').typewrite({ 
    'delay': 100,
    'callback': function() {jQuery('#demo').slideUp();}
    }); });
  </script>
  {{pass}}
  {{=XML(content)}}
  {{if path.startswith('index'):}}
  <h2>People say...</h2>
  {{include 'default/quotes.html'}}
  <script type="text/javascript">
    jQuery(function() { jQuery('blockquote').quovolver(); });
  </script>
  {{pass}}<br/><br/>
</div>
<script>
  jQuery(function(){
    jQuery('.system-message').hide();
    jQuery('#rst-content p').each(function(i){
      if(jQuery(this).html().lastIndexOf('Published:',0)===0)
        jQuery(this).css('text-align','right').css('color','#aaa');
    });
  });
</script>

