<blockquote>
<p>Python is fast enough for our site and allows us to produce
maintainable features in record times, with a minimum of developers,
said Cuong Do, Software Architect, <cite>&ndash;<a class="reference external" href="http://youtube.com">YouTube.com</a></cite></p></blockquote>

<blockquote>
<p>Python plays a key role in our production pipeline.  Without it a
project the size of Star Wars: Episode II would have been very
difficult to pull off. From crowd rendering to batch processing to
compositing, Python binds all things together, said Tommy Burnette,
Senior Technical Director, <cite>&ndash;<a class="reference external" href="http://www.ilm.com">Industrial Light &amp; Magic</a></cite></p></blockquote>

<blockquote>
<p>Python is everywhere at ILM. It's used to extend the capabilities
of our applications, as well as providing the glue between them. Every
CG image we create has involved Python somewhere in the process, said
Philip Peterson, Principal Engineer, Research &amp; Development, <cite>&ndash;<a class="reference external" href="http://www.ilm.com">Industrial Light &amp; Magic</a></cite></p></blockquote>

<blockquote>
<p>Python has been an important part of Google since the beginning,
and remains so as the system grows and evolves. Today dozens of Google
engineers use Python, and we're looking for more people with skills in
this language. said Peter Norvig, director of search quality at <cite>&ndash;<a class="reference external" href="http://google.com">Google, Inc.</a></cite></p></blockquote>

<blockquote>
<p>Journyx technology, from the source code of our software to the code that
maintains our Web site and ASP sites, is entirely based on Python. It
increases our speed of development and keeps us several steps ahead of
competitors while remaining easy to read and use.  It's as high level of a
language as you can have without running into functionality problems.  I
estimate that Python makes our coders 10 times more productive than Java
programmers, and 100 times more than C programmers. -- Curt Finch, CEO,
<cite>&ndash;<a class="reference external" href="http://www.journyx.com">Journyx</a></cite></p></blockquote>

<blockquote>
<p>IronPort email gateway appliances are used by the largest
corporations and ISPs in the world. <cite>&ndash; Mark Peek, <a class="reference external" href="http://www.ironport.com">IronPort Systems</a></cite>. 
</blockquote>

<blockquote>
<p>Python enabled us to create <cite>&ndash;<a class="reference external" href="http://www.eve-online.com/">EVE Online</a></cite>,
a massive multiplayer game, in record
time. The EVE Online server cluster runs over 50,000 simultaneous players
in a shared space simulation, most of which is created in Python. The
flexibilities of Python have enabled us to quickly improve the game
experience based on player feedback said
Hilmar Veigar Petursson of <cite>&ndash;<a class="reference external" href="http://www.ccpgames.com/">CCP Games</a></cite></p></blockquote>

<blockquote>
<p>HomeGain maintains its commitment to continual improvement through
rapid turnaround of new features and enhancements.  Python supports
this short time-to-market philosophy with concise, clear syntax and a
powerful standard library.  New development proceeds rapidly, and
maintenance of existing code is straightforward and fast, said Geoff
Gerrietts, Software Engineer, <cite>&ndash;<a class="reference external" href="http://HomeGain.com">HomeGain.com</a></cite></p></blockquote>

<blockquote>
<p>Python makes us extremely productive, and makes
maintaining a large and rapidly evolving codebase relatively
simple, said Mark Shuttleworth.</p></blockquote>


<blockquote>
<p>I have the students learn Python in our undergraduate and graduate
Semantic Web courses.  Why?  Because basically there's nothing else
with the flexibility and as many web libraries, said Prof. James
A. Hendler.</p></blockquote>

<blockquote>
<p>The travel industry is made up of a myriad supplier data feeds all of
which are proprietary in some way and are constantly changing.   Python
repeatedly has allowed us to access, build and test our in-house
communications with hundreds of travel suppliers around the world in a
matter of days rather then the months it would have taken using other
languages.  Since adopting Python 2 years ago, Python has provided us
with a measurable productivity gain that allows us to stay competitive
in the online travel space, said Michael Engelhart, CTO of
<cite>&ndash;<a class="reference external" href="http://www.eztrip.com">EZTrip.com</a></cite></p></blockquote>

<blockquote>
<p>Python in conjunction with PHP has repeatedly allowed us to develop
fast and proficient applications that permit <cite>&ndash;<a class="reference external" href="http://www.realestateagent.com">Real Estate Agent .com</a></cite> to operate with minimal
resources. Python is a critical part of our dynamically growing
cluster directory of real estate agents. said Gadi Hus, Webmaster,
<cite>&ndash;<a class="reference external" href="http://www.volico.com/">Volico Web Consulting</a></cite></p></blockquote>

<blockquote>
<p>Like XML, scripting was extremely useful as both a mod tool and an
internal development tool.  If you don't have any need to expose code
and algorithms in a simple and safe way to others, you can argue that
providing a scripting language is not worth the effort.  However, if
you do have that need, as we did, scripting is a no brainer, and it
makes complete sense to use a powerful, documented, cross-platform
standard such as Python.  -- Mustafa Thamer of Firaxis Games, talking
about Civilization IV.  Quoted on page 18 of the August 2005
<cite>&ndash;<a class="reference external" href="http://www.gdmag.com/">Game Developer Magazine</a></cite></p></blockquote>

